[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sentence-transformers = "2.1.0"
sentencepiece = "0.1.94"
transformers = "4.15.0"
torch = "1.10.1"
torchvision = "0.11.2"
bert-extractive-summarizer = "0.10.1"
konlpy = "0.5.2"
pandas = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
